.o_cexplorer_sld{
  width: 100%;
  height: 100%;
}

.o_cexplorer_container{
  width: 100%;
  height: 100%;
  padding-left: 0px;
}

.delete_action{
  width: 20px;
  height: 20px;
}

.move_action{
  width: 20px;
  height: 20px;
}

.o_kanban_record {
  background-color: transparent;
}

.oe_kanban_vignette .component_lv_ac_cable .o_kanban_record{
  background-color: antiquewhite;
}

.component_lv_ac_cable{
  /*background-color: antiquewhite;*/
  background-color: white;
}


.oe_kanban_vignette .component_lv_dc_cable .o_kanban_record{
  background-color: antiquewhite;
}

.component_lv_dc_cable{
  /*background-color: antiquewhite;*/
  background-color: white;
}


.component_swr{
  /*background-color: palegreen;*/
  background-color: white;
}

.component_switch{
  /*background-color: cyan;*/
  background-color: white;
}

.component_dry_transformer{
  /*background-color: #ebcccc;*/
  background-color: white;
}

.component_lv_cb{
  /*background-color: mintcream;*/
  background-color: white;
}

.component_hvac_circuitbreaker{
  /*background-color: #E5F3FB;*/
  background-color: white;
}

.component_color_white{
  background-color: white;
}

.component_color_mintcream{
  background-color: mintcream;
}

.component_color_cyan{
  background-color: cyan;
}

.component_color_palegreen{
  background-color: palegreen;
}

.component_color_antiquewhite{
  background-color: antiquewhite;
}

span.fancytree-title {
  vertical-align: middle;
}

.nav-tabs > li > a{
     padding: 20px;
     font-size: 16px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
     color: blue;
     /*background-color: 	#AFEEEE;*/
     /*border: 2px solid #ddd;*/
     border: 1px solid blue;
     border-bottom-color: transparent;
     /*border-bottom-color: blue;*/
     cursor: default;
     padding: 3px !important;
}

#cexplorer_menu > li > a.active{
     color: blue;
     background-color: 	#AFEEEE;
     border: 1px solid #ddd;
     border-top-color: blue;
     cursor: default;
     padding: 3px !important;
}

td.oe_list_field_cell {
    padding: 4px 6px 3px;
    text-align: center;
}

.component_explorer_render_container,
.component_explorer_container{
  height: 100%;
  display: flex;
}

.o_cexplorer_sidebar_container{
  height: 100%;
  padding-left: 0px;
}

.notebook{
  background-color: #FFFFFE;
  height: auto;
  display: block;
}

.o_chatter_button_attachment{
   display: none;
}

.kanban-table{
 width: 75%;
}

.kanban-row{
  width: 65%;
}

.va_kanban_image{
   width: 64px;
   height: 64px;
}

#dialog_sublocation_id {
	padding: 2px;
}


