@charset "utf-8";
.codup_status {
  margin: -3px 2px -5px 2px;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-position: center center;
  background-image: radial-gradient(at 35% 35%, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 40%), radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 80%);
  box-shadow: 0 0 3px;
}
.codup_status_color_0 {
  background-color: #ff0000;
}
.codup_status_color_1 {
  background-color: #00ff00;
}
.codup_status_color_2 {
  background-color: #0000ff;
}
.codup_status_color_3 {
  background-color: #ffff00;
}
.codup_status_color_4 {
  background-color: #ff00ff;
}
.codup_status_color_5 {
  background-color: #00ffff;
}
.codup_status_color_6 {
  background-color: #000000;
}
.codup_status_color_7 {
  background-color: #ffffff;
}
.codup_status_color_8 {
  background-color: #ff8000;
}
.codup_status_color_9 {
  background-color: #0080ff;
}
.codup_kanban_status {
  background-color: #E6E6E6 !important;
  border-color: #C8C8C8 !important;
}
.codup_kanban_status:hover {
  box-shadow:1px 1px 2px 1px #6f6f6f !important;
  border-color: #D8D8D8 #C8C8C8 #C8C8C8 #D8D8D8 !important;
}
.codup_kanban_status:hover .codup_status {
  background-image: radial-gradient(at 33% 34%, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 40%), radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) 80%);
}
.codup_kanban_left {
  display: inline-block;
  float: left;
  padding-right: 8px;
}
.codup_kanban_left .codup_status {
  display: block;
  margin: 7px 22px;
}
.codup_kanban_info .oe_kanban_avatar{
  margin-left: 20px;
}
/****************mio****************************/
.etiqueta1 {
  margin-top: 4px;
  margin-right: 2px;
  color: #11179c;
  font-weight: bold;
  text-align: right;
  font-size: 100%;

}

.etiqueta2 {
  margin-bottom: 3px;
  margin-left: 5px;
  color: #11179c;
  font-weight: bold;
  font-size: 100%;
}

.etiqueta3 {
  margin-bottom: 3px;
  color: #11179c;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
}

.etiqueta4{
  color: #11179c;
  font-weight: bold;
  font-size: 100%;
}
.margen_inferior{
  margin-bottom: 5px;
}
.text_centered {
  text-align: center;
}

.tablas {
  color: #3e929c;
  border-width: 2px;
  border-color: #9C1b31;
  align:center;
  cellspacing: 2px;
  bordercolor: #000000;
  vertical-align: middle;
}
/****************hasta aqui mio****************************/
.codup_attention_on, .codup_attention_off {
  color: #cccccc !important;
  text-shadow: 0 0 2px black;
  text-decoration: none !important;
}
.codup_attention_on:hover, .codup_attention_off:hover {
  text-decoration: none !important;
}
.codup_attention_on {
  color: gold !important;
}
.odoo .oe_kanban_view .codup_kanban_details {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    font-size: 13px;
    padding: 0px 5px;
    color: #4C4C4C;
}

.olControlNavToolbar ,
.olControlComponentToolbar {
  margin: 5px 5px 0 0;
}
.olControlNavToolbar div,
.olControlComponentToolbar div {
  background-image: url("../../images/editing_tool_bar.png");
  background-repeat: no-repeat;
  margin: 0 0 5px 5px;
  width: 24px;
  height: 22px;
  cursor: pointer
}
/* positions */
.olControlComponentToolbar {
  right: 0;
  top: 0;
}
.olControlNavToolbar {
  top: 295px;
  left: 9px;
}
/* layouts */
.olControlComponentToolbar div {
  float: right;
}
.olControlNavToolbar .olControlNavigationItemInactive,
.olControlComponentToolbar .olControlNavigationItemInactive {
  background-position: -103px -1px;
}
.olControlNavToolbar .olControlNavigationItemActive ,
.olControlComponentToolbar .olControlNavigationItemActive  {
  background-position: -103px -24px;
}
.olControlComponentToolbar .olControlAddDevicePointItemInactive {
  background-image: url(../../images/add_point_off.png);
  background-repeat: no-repeat;
  background-position: 0px 1px;
}
.olControlComponentToolbarActive .olControlAddDevicePointItemActive {
  background-image: url(../../images/add_point_on.png);
  background-repeat: no-repeat;
  background-position: 0px 1px;
}
.olControlComponentToolbar .olControlSelectFeatureItemInactive {
  background-image: url(../../images/select_point_off.png);
  background-repeat: no-repeat;
  background-position: 0px 1px;
}
.olControlComponentToolbarActive .olControlSelectFeatureItemActive {
  background-image: url(../../images/select_point_on.png);
  background-repeat: no-repeat;
  background-position: 0px 1px;
}
.olControlComponentToolbarActive .olControlDeleteDeviceItemActive {
  background-image: url(../../images/remove_point_on.png);
  background-repeat: no-repeat;
  background-position: 0px 1px;
}
.olControlComponentToolbar .olControlDeleteDeviceItemInactive {
  background-image: url(../../images/remove_point_off.png);
  background-repeat: no-repeat;
  background-position: 0px 1px;
}
.olControlComponentToolbarActive .olControlHighlightFeatureItemActive {
  background-image: url(../../images/select_point_on.png);
  background-repeat: no-repeat;
  background-position: 0px 1px;
}
.olControlComponentToolbar .olControlHighlightFeatureItemInactive {
  background-image: url(../../images/select_point_off.png);
  background-repeat: no-repeat;
  background-position: 0px 1px;
}

.oe_margin_top_8{
   margin-top: 8px;
}



